body {
	color: #666666 !important; line-height: 1.5; font-size: 85%; ;
}

#main {min-height: 100vh; padding-bottom: 3rem;}

.header {
	background-color: #3f4a54;
	width: 100%;
	max-width: unset;
	background-image: url(https://aspidistra.nl/n94685/public/images/large_8594.jpg);
	background-size: 100%;
	height: 125px;
	background-repeat: no-repeat;
	background-position: center center;
}
.headerimg {max-width: 50%; display: none;}
.footer {height: 3rem; background-color: #3f4a54; overflow-x: hidden; color: #FFF;
		position: absolute;
		bottom: 0; left: 0;
		width: 100%; margin: 0 auto;
		text-align: center;
}

.button-success {
	background: #d7f3e3;
}

.button-warning {
	background: rgb(223, 117, 20);
}

.button-secondary {
	background: rgb(66, 184, 221);
}

textarea.resize { resize: none; overflow: auto; }

*,:after,:before{box-sizing:border-box}
fieldset {background-color: #EEEEF3; margin: 15px; padding-left: 1em !important; border-radius: 5px;}
fieldset label {width: 115px; vertical-align: top;}
fieldset label.label-wide {width: max-content;}
.voettekst {background-color: #DDDDE3; width: 60%; margin: 0; padding: 1em; border-radius: 15px;}
/* p {max-width: 65%;} */
.kleiner {font-size: 70%;}
textarea.resize { resize: none; overflow: auto; min-height: 60px;}

.pure-table td {vertical-align:top !important;}

@font-face{
	font-family: 'Rockwell';
	src: url('rockwell.eot');
	src: url('rockwell.eot?#iefix') format('embedded-opentype'),
	     url('rockwell.woff') format('woff'),
	     url('rockwell.ttf') format('truetype'),
	     url('rockwell.svg#Rockwell') format('svg');
}

h1,h2,h3,h4 {font-family: Rockwell, Georgia, Serif;}
input[type=text],input[type=email] {padding: 5px;}
.dataTables_filter {margin-bottom: 1em;}

.fa-exclamation-triangle, .fa-check {padding: 3px;}

.citaat {color: #265778; background-color: #b0b0e0; border: 1px solid #265778; padding: 3px;}


/* Overgenomen van Bootstrap: */

.alert {
    position: relative;
    padding: .75rem 1.25rem;
    margin: 1rem auto;
    border: 1px solid transparent;
    border-radius: .25rem;}


.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

/* en de bijbehorende sluit-X */
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    }

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close {
    float: right;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.alert-primary {
    color: #1b4b72;
    background-color: #d6e9f8;
    border-color: #c6e0f5
}

.alert-primary hr {
    border-top-color: #b0d4f1
}

.alert-primary .alert-link {
    color: #113049
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.alert-secondary hr {
    border-top-color: #c8cbcf
}

.alert-secondary .alert-link {
    color: #202326
}

.alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8
}

.alert-success hr {
    border-top-color: #b3e8ca
}

.alert-success .alert-link {
    color: #123c24
}

.alert-info {
    color: #385d7a;
    background-color: #e2f0fb;
    border-color: #d6e9f9
}

.alert-info hr {
    border-top-color: #c0ddf6
}

.alert-info .alert-link {
    color: #284257
}

.alert-warning {
    color: #857b26;
    background-color: #fffbdb;
    border-color: #fffacc
}

.alert-warning hr {
    border-top-color: #fff8b3
}

.alert-warning .alert-link {
    color: #5d561b
}

.alert-danger {
    color: #761b18;
    background-color: #f9d6d5;
    border-color: #f7c6c5
}

.alert-danger hr {
    border-top-color: #f4b0af
}

.alert-danger .alert-link {
    color: #4c110f
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.alert-light hr {
    border-top-color: #ececf6
}

.alert-light .alert-link {
    color: #686868
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.alert-dark hr {
    border-top-color: #b9bbbe
}

.alert-dark .alert-link {
    color: #040505
}
