*,:after,:before{box-sizing:border-box}

/* @import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:700'); */

body {
	font-family: 'Roboto', sans-serif;
	color: #666666 !important;
	line-height: 1.5;
	font-size: 85%;
	overflow-x: hidden; /* lay out issue */
}

.pure-g [class*=pure-u] {
	font-family: 'Roboto', sans-serif!important;
}

/* typo */
h1,h2,h3,h4 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	color: #3f4a54;
	line-height: 1;
}

p, li, textarea {
	font-size: 16px!important;
}

/* li {
	font-size: 1.125em;
} */

li h5 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}

a {
	color: #428bca;
}

a:hover {
	color: #666666;
	text-decoration: none;
}

h3 {
	font-size: 2em;
}

h4 {
	font-size: 1.5em;
}

small {
  font-size: 80%;
  margin-bottom: -20px;
  display: block;
}

/* site */
#main {
	min-height: 100vh;
	padding-bottom: 3rem;
}

.header {
	background-color: #3f4a54;
	width: 100%;
	max-width: unset;
	background-image: url("../images/large_8594.jpg");
	background-size: 625px 125px;
	height: 115px;
	background-repeat: no-repeat;
	background-position: 0 -5px;
}

.headerimg {
	display: none;
}

.content {
	margin: 2em 0;
	padding: 0 2em;
	max-width: 1200px;
	line-height: 1.6em;
}

.footer {
	padding-left: 2em;
	background-color: #3f4a54;
	/* overflow-x: hidden; */
	color: #FFF;
	position: fixed;
	bottom: 0;
	width: 100%;
	margin: 0;
	text-align: left;
}

/* menu */
#menu {
  background: #3f4a54;
}

#menu .pure-menu ul {
	border-top: 0;
	padding-bottom: 1em;
}

#menu a {
	color: white;
	text-decoration: underline;
	padding-left: 15px;
	padding-right: 15px;
}

#menu a:hover {
	text-decoration: none;
}

#menu .pure-menu-selected {
	background: #428bca;
}

.pure-menu-horizontal {
    margin-top: 1px;
}

.pure-menu-item {
	position: relative;
}

/*.pure-menu-item:after {
	bottom: 0;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: white;
	border-width: 5px;
	margin-left: -5px;
}
*/
a.pure-menu-link {
	text-decoration: none!important;
}

.pure-menu h4 {
	color: white;
	padding-left: 10px;
	border-top: 1px solid white;
	margin-top: 0;
	padding-top: 1em;
}

.pure-menu-has-children>.pure-menu-link:after {
    font-size: inherit;
}

.pure-menu-children {
  background-color: #3f4a54!important;
  padding-bottom: 0!important;
}

.pure-menu-children .pure-menu-item a {
  display: block;
  height: 3em;
  text-decoration: none!important;
}



/* form */

select {
  padding: .5em .6em;
  display: inline-block;
  border: 1px solid #ccc;
  -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd;
  border-radius: 0px;
  vertical-align: middle;
  height: 2.75em;
  border: 1px solid #ccc;
  background-color: #fff;
}

.form-group,
.pure-form p {
	display: flex;
	margin-bottom: .2em;
}

.form-group label {
	vertical-align: top;
	width: 250px; /* was 115px */
}

.form-group textarea.form-control {
	height: 125px!important;
	width: 300px;
	margin-bottom: 1em;
}

.checkbox label {
	display: block;
	margin: .2em 0;
	vertical-align: middle;
}

input[type="checkbox"] {
	margin-right: .2em;
}

/* pure form */

.pure-form input,
.pure-form select,
.pure-form textarea {
	border-radius: 0px!important;
}

/*
.pure-form textarea {
	height: auto!important;
}

*/

.pure-form p {
	align-items: center;
}

input[type=radio] {
	margin: 10px;
	vertical-align: middle;
}

textarea.resize { resize: none; overflow: auto; }

fieldset {
	background-color: #EFEFEF;
	margin: 0;
	padding: 1em !important;
	border-radius: 0;
}

fieldset label {
	flex: 0 250px;
	vertical-align: top;
}

fieldset label.label-wide {
	width: max-content;
}

.voettekst {
	background-color: #EFEFEF;
	margin: 0;
	padding: 1em;
}
.voettekst h4 {
	margin-top: .2em;
}

/* p {max-width: 65%;} */
.kleiner {font-size: 70%;}
textarea.resize {resize: none; overflow: auto; min-height: 60px;}

input[type=text],input[type=email] {padding: 5px;}
.dataTables_filter {margin-bottom: 1em;}

.fa-exclamation-triangle, .fa-check {padding: 3px;}

.citaat {
	color: #FFF;
	background-color: #428bca;
	border: 1px solid #357ebd;
	padding: 3px;
}

.checkbox {
	margin-bottom: 2em;
}

/* buttons */

.btn, button, .pure-button {
    padding: 10px;
    line-height: 1;
    color: #fff;
    border-radius: 0;
    border: 1px solid #FFF;
    background-color: #3f4a54;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 2px;
    transition: all .3s ease;
}

.btn-primary {
  background-color: #428bca;
  border-color: #357ebd;
}

.button-success {
	background-color: #2DBF64;
	border-color: #259E52;
}

.button-alert {
	background-color: #259E52;
	border-color: #2DBF64;
}

.button-warning,
form[name=deleteForm] button {
	background-color: #ED5650;
	border-color: #CE4844;
}

.button-secondary {
	background-color: #44CCEB;
	border-color: #3EB0CC;
}

.btn.btn-link {
	color: #3b8bba;
    border: 0;
    padding: 0;
    text-decoration: underline;
    margin: 1em 0;
		background: none;
}

.btn:hover, .btn:focus,
button:hover, button:focus{
	background-image: -webkit-linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
	background-image: -o-linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
	background-image: linear-gradient(transparent, rgba(0,0,0,.05) 40%, rgba(0,0,0,.1));
}

.btn.btn-link:hover,
.btn.btn-link:focus {
    background-image: none;
    text-decoration: none;
}

/* tabel */

.pure-table thead {
  background-color: #EFEFEF;
  border-bottom: 1px solid silver;
}

.pure-table th,
.pure-table td {
	vertical-align: top;
	padding: 0.5em 1.5em 0.5em 1em;
}
.pure-table td {vertical-align:top !important;}

.sorting,
.sorting_asc,
.sorting_desc {
	position: relative;
}

.sorting:before,
.sorting_asc:before,
.sorting_desc:before {
    font-family: FontAwesome;
		right: 5px;
    position: absolute;
/*    top: 7px;*/
 }
.sorting:before { content: "\f0dc"; }
.sorting_asc:before { content: "\f15d"; }
.sorting_desc:before { content: "\f15e"; }

/* media */

.media {
  display: flex;
  margin-bottom: 2em;
  border-bottom: 1px solid silver;
  padding: 1em;
}

.media .media-heading {
  font-size: 1.2rem;
  margin: 0;
}

.media .media-body {
  margin-left: 1em;
  margin-bottom: 1em;
}

.media.alert {
	display: block;
	padding-left: 0;
}

/* Overgenomen van Bootstrap: */

.alert {
  position: relative;
  padding: .75rem 1.25rem;
  margin: 1rem auto;
  border: 1px solid transparent;
  border-radius: .25rem;
}


.close:not(:disabled):not(.disabled) {
    cursor: pointer;
}

.alert h4 {
	margin-top: 0;
	margin-bottom: 0;
}

/* en de bijbehorende sluit-X */
button.close {
    padding: 0;
    background-color: transparent;
    border: 0;
    -webkit-appearance: none;
    }

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}
.close {
    float: right;
    font-size: 1.35rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.alert-primary {
    color: #1b4b72;
    background-color: #d6e9f8;
    border-color: #c6e0f5
}

.alert-primary hr {
    border-top-color: #b0d4f1
}

.alert-primary .alert-link {
    color: #113049
}

.alert-secondary {
    color: #383d41;
    background-color: #e2e3e5;
    border-color: #d6d8db
}

.alert-secondary hr {
    border-top-color: #c8cbcf
}

.alert-secondary .alert-link {
    color: #202326
}

.alert-success {
    color: #1d643b;
    background-color: #d7f3e3;
    border-color: #c7eed8
}

.alert-success hr {
    border-top-color: #b3e8ca
}

.alert-success .alert-link {
    color: #123c24
}

.alert-info {
    color: #385d7a;
    background-color: #e2f0fb;
    border-color: #d6e9f9
}

.alert-info hr {
    border-top-color: #c0ddf6
}

.alert-info .alert-link {
    color: #284257
}

.alert-warning {
    color: #857b26;
    background-color: #fffbdb;
    border-color: #fffacc
}

.alert-warning hr {
    border-top-color: #fff8b3
}

.alert-warning .alert-link {
    color: #5d561b
}

.alert-danger {
    color: #761b18;
    background-color: #f9d6d5;
    border-color: #f7c6c5
}

.alert-danger hr {
    border-top-color: #f4b0af
}

.alert-danger .alert-link {
    color: #4c110f
}

.alert-light {
    color: #818182;
    background-color: #fefefe;
    border-color: #fdfdfe
}

.alert-light hr {
    border-top-color: #ececf6
}

.alert-light .alert-link {
    color: #686868
}

.alert-dark {
    color: #1b1e21;
    background-color: #d6d8d9;
    border-color: #c6c8ca
}

.alert-dark hr {
    border-top-color: #b9bbbe
}

.alert-dark .alert-link {
    color: #040505
}


.critTypeAfh {display: none;}

/* Tabbladen */

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: #3f4a54;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

/* class scrollTo is bedoeld om aan JavaScript door te geven welk deel van de pagina in beeld moet komen */
.scrollTo {display: none;}

/* Auto-resizing textareas hebben dit nodig: */

.resize {
  width: 100%;
  max-width: 500px;
  min-height: 100px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  overflow: hidden;
  line-height: 1.4;
}

/* Toegevoegd door Jos voor het mogelijk maken van submenu's: */
.custom-wrapper {
  overflow: visible;
  height: 3.2em;
}

@media (max-width: 47.999em) {
  #menu .pure-menu { 
    margin-top: -1.5em;
    overflow: auto;
    height: 330px;
  }

  .custom-wrapper { height: 0; overflow: hidden;}
  .x .bar + .bar { display: none }
  .x .bar + .bar + .bar { display: block }
  #menu a { text-align: center; }
  .pure-menu-item:after {border-width: 0px;}
  .custom-wrapper .pure-menu{ 
    visibility: hidden; 
    opacity: 0;
    transition: all .3s ease;
  }
  .custom-wrapper.open .pure-menu { visibility: visible; opacity: 1; }
  .pure-menu-children {
    padding-bottom: 0!important;
  }
  .pure-menu-allow-hover:hover>.pure-menu-children,
  .pure-menu-children {
    position: relative;
    display: block;
    left: inherit;
  }
  .pure-menu-has-children>.pure-menu-link:after {
    transform: rotate(90deg);
    display: inline-block;
    margin-left: 10px;
  }

}